<app-navbar></app-navbar>
<div class="parallax-container">
  <div class="parallax blured"><img src="../assets/images/restauparallax1.jpg" alt="auchaletgourmand"></div>
</div>
<div class="section white">
  <div class="row cancel-margin-bottom">
    <div class="col s6 m6 l5 container">
      <h3 class="grey-text text-darken-3 lighten-3 center-align">Au Chalet Gourmand</h3>
      <h5 class="grey-text text-darken-3 lighten-3 center-align">Restaurant Brasserie</h5>
    </div>
    <div class="col s6 m4 l5 offset-m2 offset-l1 container">
      <blockquote class="quote-brown">
        Ouvert tous les jours sauf dimanche, lundi et mardi soirs<br />
        Repas de groupe. Soirée à thème.<br />
        <br />
        <i class="tiny material-icons">location_on</i> 36 rue de la liberté<br />
        <i class="tiny material-icons">local_post_office</i> 90400 Moval<br />
        <i class="tiny material-icons">local_phone</i> 03.84.56.18.59<br />
      </blockquote>
    </div>
  </div>
</div>
<app-menus-list></app-menus-list>
<div>
  <div class="section white">
    <h3 class="grey-text text-darken-3 lighten-3 center satisfy">A propos de nous ...</h3>

    <div class="row container">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="../assets/images/sample-1.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="../assets/images/sample-1.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-image">
            <img src="../assets/images/sample-1.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer brown darken-1">
  <div class="footer-copyright">
    <div class="container">
      © 2018 Lucas CORAILLER
    </div>
  </div>
</footer>